body {
    background-color: #738fa7;
  }
header{
    background-color: bisque;
    padding: 10px;
    text-align: center;
}
.main-title{
    font-size: 2rem;
    font: 'Fredoka', Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #071330;
}
.title{
    font-size: 1.6rem;
    font-weight: 500;
    color: #071330;
    margin: 10px;
}
.com-text{
    color: #071330;
    font-weight: 300;
    font-size: 1.2rem;
    margin-left: 40px;
}
.container-selfinfo{
    display: flex;
    margin-left: 20px;
}
.img-self{
    width: 200px;
    height: 200px;
}
.highlight{
    font-weight: 700;
}
.hover:hover{
    color:brown;
    font-color: brown;
}